/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  padding: 40px 0px 40px;
  text-align: center;
}

body{
	margin: 0px 20%;
	border-left: 1px solid grey;
	border-right: 1px solid grey;

}

#menue{
	margin-bottom: 40px;
}
/** Description */
#descr{
	text-align:center;
}

ul.games{
	border-bottom: 1px dotted grey;
	border-top: 1px dotted grey;
	padding: 15px; 
}

li{
	font-weight: bold;
}

.aksw{
	color: #777777;
	font-weight: bold;
	font-style: italic;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
