body {
    margin: 0px;
    background-color: black;
}

a {
    color: #fff;
}

#gameContainer {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    border: 1px dashed black;
}

#gameControls {
	border: 1px dotted red;
    position: absolute;
    width: 100%;
    height: 19%;
    bottom: 0;
}