#verilinksContainer {
	bottom: 0;
	position: absolute;
	color: white;
}

#subject, #object, #predicate {
	/*border: 1px solid black;
	 -moz-box-shadow: 1px 2px 5px 2px grey;
	 -webkit-box-shadow: 1px 2px 5px 2px grey;
	 box-shadow: 1px 2px 5px 2px grey;*/
	margin: 5px;
}

#predicate {
	text-align: center;
	text-shadow: 2px 3px 3px #565051;
}
.vertical-align {
	text-align: center;
}

#map_subject, #map_object {
	height: 200px;
	width: 380px;
}

.olControlAttribution {
	margin-bottom: 120px;
	margin-right: 5px;
}