<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.aksw.verilinks.core.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/VeriLinks/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>restServlet</servlet-name>
    <servlet-class>org.aksw.verilinks.core.server.RestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>restServlet</servlet-name>
    <url-pattern>/Application/rest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>org.aksw.verilinks.core.server.TemplateUploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/Application/upload</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>VeriLinks.html</welcome-file>
  </welcome-file-list>

</web-app>
